#user a,
.search {
  color: #1d1d1d;
}
#container,
#containerFooter {
  box-sizing: border-box;
  display: grid;
}
#container,
#credit,
.search {
  text-align: center;
}
#containerFooter,
#credit {
  background-color: #1d1d1d;
  letter-spacing: 1px;
  color: #fff;
}
#badge,
#credit a::after,
.search {
  position: absolute;
}
#container,
#shopName,
body {
  font-family: Lato, sans-serif;
}
#collection,
h1 {
  font-weight: 700;
}
#container,
#credit,
h1 {
  margin: auto;
}
#box,
#container {
  background-color: #fff;
  width: 100%;
}
#details,
h1 {
  text-transform: capitalize;
}
#badge {
  background-color: #ff1e1e;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 14px;
  top: 10px;
  right: 158px;
}
#container {
  grid-gap: 10px;
  grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}
#shopName {
  font-size: 40px;
}
#box a,
#collection a,
#shopName a {
  text-decoration: none;
  color: #1d1d1d;
}
#shopName > b {
  font-weight: 900;
}
#collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.search {
  padding: 14px;
  min-width: 25px;
}
.addedToCart {
  font-size: 1.5em;
  margin-right: 25px;
}
#user {
  display: flex;
  align-items: center;
}
.userIcon {
  font-size: 45px;
}
#input {
  width: 35em;
  height: 3em;
  padding: 2px 50px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}
#input::placeholder {
  font-weight: 700;
}
#input:focus {
  outline: 0;
}
@media (max-width: 1300px) {
  #collection {
    font-size: 13px;
  }
  #input {
    width: 25em;
  }
}
@media (max-width: 1212px) {
  #collection {
    font-size: 13px;
  }
  #input {
    width: 20em;
  }
  .addedToCart {
    font-size: 1.5em;
    margin: 10px 20px;
  }
}
@media (max-width: 750px) {
  #shopName {
    font-size: 28px;
  }
  #collection {
    font-size: 12px;
  }
  .userIcon {
    font-size: 35px;
  }
  .addedToCart {
    font-size: 1.2em;
    margin: 10px 20px;
  }
}
@media (max-width: 1480px) {
  #badge {
    right: 150px;
  }
}
@media (max-width: 1426px) {
  #badge {
    right: 142px;
  }
}
@media (max-width: 1360px) {
  #badge {
    right: 136px;
  }
}
@media (max-width: 1320px) {
  #badge {
    right: 129px;
  }
}
@media (max-width: 1259px) {
  #badge {
    right: 119px;
  }
}
@media (max-width: 1212px) {
  #badge {
    right: 96px;
  }
}
@media (max-width: 1155px) {
  #badge {
    right: 87px;
  }
}
@media (max-width: 1090px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
  }
  #search {
    display: none;
  }
  #badge {
    right: 119px;
  }
}
@media (max-width: 1030px) {
  #badge {
    right: 109px;
  }
}
@media (max-width: 970px) {
  #badge {
    right: 100px;
  }
}
@media (max-width: 910px) {
  #badge {
    right: 94px;
  }
}
@media (max-width: 850px) {
  #badge {
    right: 87px;
  }
}
@media (max-width: 750px) {
  #badge {
    right: 87px;
    padding: 3px 6px;
    font-size: 12px;
    top: 12px;
  }
}
@media (max-width: 650px) {
  #shopName {
    font-size: 24px;
  }
  #collection {
    font-size: 10px;
  }
  .userIcon {
    font-size: 30px;
  }
  #badge {
    right: 78px;
  }
}
@media (max-width: 550px) {
  #container {
    padding: 20px 25px;
  }
  #badge {
    right: 62px;
    top: 18px;
  }
}
#containerFooter {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 300px;
}
#containerFooter h3:hover,
#containerFooter p:hover {
  color: #778899;
  cursor: pointer;
}
#webFooter {
  padding-top: 30px;
  font-size: 12px;
}
#credit {
  width: 100%;
  padding: 20px 0;
  font-size: 11px;
}
#credit a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
#credit a::after {
  content: "";
  background: #fff;
  mix-blend-mode: exclusion;
  width: calc(100% + 18px);
  height: 0;
  bottom: -4px;
  left: -10px;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#credit a:hover::after {
  height: calc(100% + 8px);
}
@media (max-width: 1350px) {
  #containerFooter {
    padding: 15px 200px;
  }
}
@media (max-width: 1166px) {
  #containerFooter {
    padding: 15px 100px;
  }
}
@media (max-width: 950px) {
  #containerFooter {
    padding: 15px 50px;
  }
}
@media (max-width: 850px) {
  #containerFooter {
    font-size: 13px;
  }
  #webFooter {
    font-size: 10px;
  }
}
@media (max-width: 750px) {
  #containerFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 100px;
  }
  #webFooter {
    padding: 15px 20px;
  }
}
@media (max-width: 540px) {
  #containerFooter {
    padding: 0 25px;
  }
}
body {
  margin: 0;
}
h1 {
  width: 90%;
  padding: 50px 0;
  letter-spacing: 2px;
}
#containerAccessories,
#containerClothing {
  display: grid;
  grid-gap: 70px 20px;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}
#box {
  align-content: center;
  border-radius: 10px;
  box-shadow: 1px 2px 6px 2px #dbdbdb;
}
#box:hover {
  box-shadow: 1px 6px 3px 0 #b9b9b9;
}
#containerAccessories,
#containerClothing {
  min-height: 270px;
}
#containerAccessories img,
#containerClothing img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#youtube-iframe,
img {
  width: 100%;
  height: auto;
}
#details {
  padding: 0 15px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-weight: 100;
}
h2 {
  color: #035e5e;
}
@media (max-width: 1070px) {
  h1 {
    font-size: 25px;
  }
  #containerAccessories,
  #containerClothing {
    width: 95%;
    grid-gap: 10px;
  }
}
@media (max-width: 850px) {
  h1 {
    width: 80%;
  }
  #containerAccessories,
  #containerClothing {
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }
}
@media (max-width: 650px) {
  #containerAccessories,
  #containerClothing,
  h1 {
    width: 90%;
  }
  h1 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  #containerAccessories,
  #containerClothing,
  h1 {
    width: 70%;
  }
}
@media (max-width: 505px) {
  h1 {
    width: 80%;
  }
  #containerAccessories,
  #containerClothing {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}
